/* Overall stylesheets for 2 pages: index.html and about.html */
/* floating string for copy comment this and insert specific inline comment */ 

/* Activate scroll bar showing */
body{
    overflow-y: scroll;  /* Allows scrolling vertically of the content of the entire page is overflow */ 
}

/* This container allows to locate main body and navigation bar on the left side */
.flexboxContainer{ 
    display: flex;  /* allows to set elements respectively to each other */ 
    flex-direction: row;  /* Explicitly designate main axis for the flexbox layout */
    /* justify-content: space-evenly; */  /* It automatically populate the content evenly for 2 elements */
}

/* Styling for left-side navigation bar */
.navbar{
    /* Navigation bar - takes width according to the content, height = all page height */ 
    margin: 0.25em; padding: 0.2rem;  /* Just experimenting with different size measure values */
    /* flex: auto; */ /* Switched off for preventing populate width more for than the content of this element */ 
    text-align: center; background-color: lightgray;
    font-size: 1rem; font-family: Verdana, Tahoma, sans-serif;
    /* z-index: 1;  */
    position: relative;
    display: flex; flex-direction: column;
}

/* Styling of all links in the navigation bar (all descendants) */
.navbar a{
    display: block;  /* Makes all elements starting with the new line */ 
    padding-top: 2.5em; padding-bottom: 2.5em; padding-left: 0.5em; padding-right: 0.5em; 
    margin: 1.2em 0.5em;  /* if "auto" is specified then the elements will be spread evenly */
}

/* Styling for links */
.link:link{color: darkblue;} .link:visited{color: blueviolet;}

/* Styling for the main body with text */
.mainBody{
    flex: 1 auto; /* Automatically populate the content of the element for the remaining space in page */
    font-size: 1rem; font-family: Arial, Helvetica, sans-serif;
    margin: 0.25em;
    position: relative;
}

.header{
    text-align: center; margin: 0.25em;
}

/* Provide special styles for small screen sizes (cell phones, test on Google Chrome) */
@media screen and (max-width: 500px){
    .flexboxContainer{
        flex-direction: column;  /* Explicitly designate main axis for the flexbox layout */
    }
    .navbar{
        margin: 2px; padding: 0.1rem; 
        display: block;
    }
    .navbar a{
        padding-top: 0.2em; padding-bottom: 0.2em; margin: 0.15em;
    }
}